:root{
  /*COORPORATIVE ----------------------------------*/
  /* BRAND COORPORATIVE PRINCIPAL TONE */
  --pr-colors--brand-principal-50:  #fff7e8;
  --pr-colors--brand-principal-100: #ffedcc;
  --pr-colors--brand-principal-200: #ffd699;
  --pr-colors--brand-principal-300: #ffb966;
  --pr-colors--brand-principal-400: #ff9d3f;
  --pr-colors--brand-principal-500: #ff6f00;
  --pr-colors--brand-principal-600: #db5300;
  --pr-colors--brand-principal-700: #a83b00;
  --pr-colors--brand-principal-800: #932700;
  --pr-colors--brand-principal-900: #7a1900;
  /* BRAND COORPORATIVE SECUNDARY TONE */
  --pr-colors--brand-secundary-50:  #fff7e8;
  --pr-colors--brand-secundary-100: #ffedcc;
  --pr-colors--brand-secundary-200: #ffd699;
  --pr-colors--brand-secundary-300: #ffb966;
  --pr-colors--brand-secundary-400: #ff9d3f;
  --pr-colors--brand-secundary-500: #ff6f00;
  --pr-colors--brand-secundary-600: #db5300;
  --pr-colors--brand-secundary-700: #a83b00;
  --pr-colors--brand-secundary-800: #932700;
  --pr-colors--brand-secundary-900: #7a1900;
  /*TONES -----------------------------------------*/
  /* GRAY TONE */
  --pr-colors--gray-0:    #ffffff;
  --pr-colors--gray-50:   #f9fafb;
  --pr-colors--gray-100:  #f3f4f6;
  --pr-colors--gray-200:  #e5e7eb;
  --pr-colors--gray-300:  #d2d5da; 
  --pr-colors--gray-400:  #9ca3af;
  --pr-colors--gray-500:  #6d7280;
  --pr-colors--gray-600:  #4b5563; 
  --pr-colors--gray-700:  #374151;
  --pr-colors--gray-800:  #1f2937;
  --pr-colors--gray-900:  #111827;
  --pr-colors--gray-1000: #000000;
  /* NEUTRAL TONE */
  --pr-colors--neutral-100: #ffffff;
  --pr-colors--neutral-200: #e8e8e8;
  --pr-colors--neutral-300: #d2d2d2;
  --pr-colors--neutral-400: #bbbbbb;
  --pr-colors--neutral-500: #a4a4a4;
  --pr-colors--neutral-600: #8e8e8e;
  --pr-colors--neutral-700: #777777;
  --pr-colors--neutral-800: #606060;
  --pr-colors--neutral-900: #4a4a4a;
  --pr-colors--neutral-950: #333333;
  /* RED TONE */
  --pr-colors--red-50:  #fef2f2;
  --pr-colors--red-100: #fee2e2; 
  --pr-colors--red-200: #fecaca;
  --pr-colors--red-300: #fca5a5;
  --pr-colors--red-400: #f87171;
  --pr-colors--red-500: #ef4444; 
  --pr-colors--red-600: #dc2626;   
  --pr-colors--red-700: #b91c1c;
  --pr-colors--red-800: #991b1b;
  --pr-colors--red-900: #7f1d1d;
  /* GREEN TONE */
  --pr-colors--green-50:  #ecfeef;
  --pr-colors--green-100: #dbfee0;
  --pr-colors--green-200: #b7fdc9;
  --pr-colors--green-300: #92fab7;
  --pr-colors--green-400: #76f5af;
  --pr-colors--green-500: #4aefa5;
  --pr-colors--green-600: #36cd98;
  --pr-colors--green-700: #25ac8a;
  --pr-colors--green-800: #178a79;
  --pr-colors--green-900: #0e726d;
  /* PINK TONE */
  --pr-colors--pink-50:  #fdf2f8;
  --pr-colors--pink-100: #fce7f3; 
  --pr-colors--pink-200: #fbcfe8;
  --pr-colors--pink-300: #f9a8d4;
  --pr-colors--pink-400: #f472b6;
  --pr-colors--pink-500: #ec4899;
  --pr-colors--pink-600: #db2777;
  --pr-colors--pink-700: #b3185b;
  --pr-colors--pink-800: #9d174d;
  --pr-colors--pink-900: #831843;
  /* PURPLE TONE */
  --pr-colors--purple-50:  #faf5ff;
  --pr-colors--purple-100: #f3e8ff;
  --pr-colors--purple-200: #e9d5ff;
  --pr-colors--purple-500: #a855f7;
  --pr-colors--purple-300: #d8b4fe;
  --pr-colors--purple-400: #c084fc;
  --pr-colors--purple-600: #9333ea;
  --pr-colors--purple-700: #7e22ce;
  --pr-colors--purple-800: #6b21a8;
  --pr-colors--purple-900: #581c87;
  /* INDIGO TONE */
  --pr-colors--indigo-50:  #eef2ff;
  --pr-colors--indigo-100: #e0e7ff;
  --pr-colors--indigo-200: #c7d2fe;
  --pr-colors--indigo-300: #a5b4fc;
  --pr-colors--indigo-400: #818cf8;
  --pr-colors--indigo-500: #6366f1; 
  --pr-colors--indigo-600: #4f46e5;
  --pr-colors--indigo-700: #4338ca; 
  --pr-colors--indigo-800: #3730a3;
  --pr-colors--indigo-900: #312e81;
  /* BLUE TONE */
  --pr-colors--blue-50:  #eff6ff;
  --pr-colors--blue-100: #dbeafe;
  --pr-colors--blue-200: #bfdbfe;
  --pr-colors--blue-300: #93c5fd; 
  --pr-colors--blue-400: #60a5fa;
  --pr-colors--blue-500: #3b82f6;
  --pr-colors--blue-600: #2563eb;
  --pr-colors--blue-700: #1d4ed8;
  --pr-colors--blue-800: #1e40af;
  --pr-colors--blue-900: #1e3a8a;
  /* YELLOW TONE */ 
  --pr-colors--yellow-50:  #fefce8;
  --pr-colors--yellow-100: #fef9c3; 
  --pr-colors--yellow-200: #fef08a; 
  --pr-colors--yellow-300: #fde047;
  --pr-colors--yellow-400: #facc15;
  --pr-colors--yellow-500: #eab308;
  --pr-colors--yellow-600: #ca8a04;
  --pr-colors--yellow-700: #a16207;
  --pr-colors--yellow-800: #854d0e;
  --pr-colors--yellow-900: #713f12;
  /* ORANGE TONE */ 
  --pr-colors--orange-50:  #fff7ed;
  --pr-colors--orange-100: #ffedd5;
  --pr-colors--orange-200: #fed7aa;
  --pr-colors--orange-300: #fdba74;
  --pr-colors--orange-400: #fb923c; 
  --pr-colors--orange-500: #f97316;
  --pr-colors--orange-600: #ea580c; 
  --pr-colors--orange-700: #c2410c; 
  --pr-colors--orange-800: #9a3412;
  --pr-colors--orange-900: #7c2d12;
  /*STATE -----------------------------------------*/
  /* SUCCESS "green" */ 
  --pr-colors--succes-50:  #f0fdf4;
  --pr-colors--succes-100: #dcfce7;
  --pr-colors--succes-200: #bbf7d0;
  --pr-colors--succes-300: #86efac;
  --pr-colors--succes-400: #4ade80;
  --pr-colors--succes-500: #22c55e;
  --pr-colors--succes-600: #16a34a;
  --pr-colors--succes-700: #15803d;
  --pr-colors--succes-800: #166534;
  --pr-colors--succes-900: #14532d;
  /* ERROR "red"*/ 
  /* WARNING "yellow"*/
}