
:root{
    /*SIZE*/
      --Font__Size__Body__body-h1: 48px;
      --Font__Size__Body__body-h2: 40px;
      --Font__Size__Body__body-h3: 34px;
      --Font__Size__Body__body-h4: 28px;
      --Font__Size__Body__body-h5: 24px;
      --Font__Size__Body__body-h6: 20px;


  }