:root{


    --colors-colection-info-50: #edf9ff;
  --colors-colection-info-100: #d3f0ff;
  --colors-colection-info-200: #a6deff;
  --colors-colection-info-300: #7ac7ff;
  --colors-colection-info-400: #59b1ff;
  --colors-colection-info-500: #238dff;
  --colors-colection-info-600: #196ddb;
  --colors-colection-info-700: #1151b7;
  --colors-colection-info-800: #0b3993;
  --colors-colection-info-900: #06287a;

  --colors-colection-green-50: #ecfeef;
  --colors-colection-green-100: #dbfee0;
  --colors-colection-green-200: #b7fdc9;
  --colors-colection-green-300: #92fab7;
  --colors-colection-green-400: #76f5af;
  --colors-colection-green-500: #4aefa5;
  --colors-colection-green-600: #36cd98;
  --colors-colection-green-700: #25ac8a;
  --colors-colection-green-800: #178a79;
  --colors-colection-green-900: #0e726d;





}