@import url('./__primary-font--clamp.css');
:root{
/* Unid -> rem */
 --pr-font--size: 16px;
 --pr-font-ratio: 1.25; /* Ratio for scaling font sizes */

/* FONTFAMILY*/
  --pr-font--family-display:   var(--pr-font--family-body);
  --pr-font--family-headline:  var(--pr-font--family-body);
  --pr-font--family-body:      Raleway;
  --pr-font--family-button:    Open Sans;
  --pr-font--family-a:         var(--pr-font--family-body);
/* SIZE */
  /* font-size: clamp(MIN, IDEAL, MAX); */
  /* Media -> clamp(MIN, (MIN + MAX)/2, MAX) */
  /* Preciso -> clamp(MIN, SLOPE × vw + INTERCEPT, MAX) con regla de tres y pendiente*/
  
  /*DISPLAY*/
  /* --pr-font--size-display-h1: 40px;
  --pr-font--size-display-h2: 32px;
  --pr-font--size-display-h3: 32px;
  --pr-font--size-display-h4: 22px;
  --pr-font--size-display-h5: 22px;
  --pr-font--size-display-h6: 14px;
  --pr-font--size-display-p:  1rem; 
  --pr-font--size-display-a:  var(--pr-font--size-display-p); */
  /*BODY*/
  /* --pr-font--size-body-h1: 48px;
  --pr-font--size-body-h2: 40px;
  --pr-font--size-body-h3: 34px;
  --pr-font--size-body-h4: 28px;
  --pr-font--size-body-h5: 24px;
  --pr-font--size-body-h6: 20px;
  --pr-font--size-body-p--big:   16px; 
  --pr-font--size-body-p:        16px; 
  --pr-font--size-body-p--small: 16px; 
  --pr-font--size-body-a: var(--pr-font--size-body-p); */
/*LINEHEIGHT*/
  /* --pr-font--lineheight:          1.5;
  --pr-font--lineheight-display:  var(--pr-font--lineheight);
  --pr-font--lineheight-body:     var(--pr-font--lineheight);
  --pr-font--lineheight-p:        var(--pr-font--lineheight); */
/* COLOR */
  /* --pr-font--color-h: 48px;
  --pr-font--color-p: 40px;
  --pr-font--color-a: 34px;
  --pr-font--color-a--hover: 34px; */
/* WEIGHT */
  /* --pr-font--fontweight-medium: Medium;
  --pr-font--fontweight-bold: Bold;
  --pr-font--fontweight-light: Light; */
}